<div class="banner">
	<h1><span class="hi">Hi</span>, my name is Alejandra, I'm a Visual Artist from Mexico based in Barcelona. I've been building custom websites since 2014.</h1>
</div>

<div class="cv">
	<div class="columns">
		<div class="col col-4">
			<section>
				<h1>Alejandra Avilés</h1>
				<h3>México 1989</h3>
				<h3>Vive y trabaja en Barcelona, (ES).</h3>
				<h3>Contactos:</h3>
				<h3>+34 622815499</h3>
				<h3>alehandra.aviles@gmail.com</h3>
				<h3>alejandraaviles.com</h3>
				<h3>alecamp.com</h3>
			</section>
			<section>
				<h1>Habilidades</h1>
				<h3>Desarrollo Web</h3>
				<p>Css - Sass</p>
				<p>Html</p>
				<p>Sublime text</p>
				<p>Static site generator (Middleman)</p>
				<p>Php - Wordpress</p>
				<p>Squarespace Developer Platform</p>
				<p>Basic Javascript</p>
			</section>
			<section>
				<h3>Creación y edición</h3>
				<p>Ilustrador</p>
				<p>Sketch</p>
				<p>Photoshop</p>
				<p>Final Cut</p>
			</section>
		</div>
		<div class="col col-8">
			<section>
				<h1>Perfil</h1>
				<p>Con formación universitaria en Bellas Artes, tengo gran experiencia trabajando en proyectos creativos. He desarrollado mis conocimientos en herramientas de diseño y desarrollo web de manera autodidacta. Le apuesto al diseño funcional, que sea sencillo en su uso y claro en su comunicación. El reto que más me gusta al crear páginas web es pensar en la experiencia del usuario y en los objetivos de mis clientes. Soy una persona honesta y trabajadora. Disfruto aprender cosas nuevas y me continúo planteando retos profesionales.</p>
			</section>
			<section>
				<h1>Experiencia en diseño<h1>
				<h2>Alecamp</h2>
				<h3>Desde 2014 ⎟ España y México.</h3>
				<h3>Puesto: Dirección (autónoma)</h3>
				<h3>Funciones: Diseño web y programación.
				Encargada del proceso completo para la creación de páginas web, desde el diseño hasta el desarrollo del sistema. Manejo de clientes, entregas puntuales, mantenimiento de servidores, rediseños y actualizaciones.</h3>
				<h2>Proyectos publicados</h2>
				<h3>2017 studiowasabiarch.com</h3>
				<h3>2016 campoderelampagos.org</h3>
				<h3>2016 emanueltovar.com</h3>
				<h3>2016 cynthiagutierrez.com</h3>
				<h3>2015 hugolugo.link</h3>
				<h3>2014 mariajosesesma.com</h3>
				<h3>2014 juancarloscoppel.com</h3>
				<h3>2014 ethelcooke.com</h3>
				<h3>2014 carlosivanhernandez.mx</h3>
				<h3>2014 miriamsalado.com</h3>
				<h3>2013 alecamp.com</h3>
				<h3>2013 alejandraaviles.com</h3>
			</section>
			<section>
				<h2>Ethos Laboratorio de Políticas Públicas</h2>
				<h3>2014 - 15 ⎟ Ciudad de México.</h3>
				<h3>Puesto: Diseñador gráfico.</h3>
				<h3>Funciones: Diseño de infografías. Desarrollo de identidad gráfica, trazado de ilustraciones, iconos, tipografías y producción de fotografía.
				Responsable de la realización de infografías para comunicar las investigaciones llevadas por el Laboratorio (ethos.mx).</h3>
			</section>
			<section>
				<h2>Johnson & Johnson</h2>
				<h3>May 2013 ⎟ Ciudad de México.</h3>
				<h3>Puesto: Diseñador gráfico.</h3>
				<h3>Funciones: Diseño de infografías. Responsable de la realización de 14 infografías. Diseño y trazado de ilustraciones, iconos y tipografía, para comunicar y promover productos de Johnson & Johnson, en el marco de la visita de la Copa Mundial Brasil a México en el 2013.</h3>
			</section>
			<section>
				<h1>Educación</h1>
				<h2>Licenciatura en Artes Plásticas, específico escultura.</h2>
				<h3>2008 - 2012. Universidad de Sonora Blvd Luis Encinas y Rosales, 83000 Hermosillo (MX).</h3>
				<h2>Intercambio académico en la Universidad de Granada.</h2>
				<h3>2012. Facultad de Bellas Artes Alonso Cano. Av. Andalucía, 27, 18014 Granada (ES).</h3>
				<h2>Programa Educativo de SOMA</h2>
				<h3>2014 - 2015. Posgrado en producción de arte contemporáneo. SOMA Calle trece 25, 03800 Ciudad de México, (MX).</h3>
				<h2>Saas-Fee Summer Institute</h2>
				<h3>Import Projects Berlin. </h3>
				<h2>Bar Tool #0.</h2>
				<h3>Nov 2016 - Jun 2017. Programa de formación práctica de Bar Project Barcelona. Fundación Tapies Carrer d'Aragó, 255 y Fabra i Coats Carrer de Sant Adrià, 20. Barcelona (ES).</h3>
			</section>
		</div>

	</div>
</div>



