

<div class="columns">
	<div class="col col-6">
      <div class="logo">
          <a href="/"><h1>Ale<em>camp</em></h1></a>
      </div>
		<li><a href="/portfolio">Portfolio</a></li>
		<li><a href="/cv">Experience</a></li>
		<li><a href="/cv">Pricing</a></li>
	</div>
	<div class="col col-6">
	<h1>Static Site 400 eur</h1>
	<h1>Content Management System 1000 eur</h1>
	</div>
</div>
<div class="website" data-url="http://cynthiagutierrez.com/" data-info="Contacto:" data-name="alejandra@alecamp.com" data-year="skype: alejandraavilesd" >
<div id="projects">
		<div class="container">
			<img src="/images/cynthiagutierrez/1.png">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/cynthiagutierrez/3.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/cynthiagutierrez/4.png">
					</div>
				</div>
			</div>
			<img src="/images/cynthiagutierrez/6.png">
		</div>
	</div>
	<div class="website" data-url="http://campoderelampagos.org/" data-name="campoderelampagos.org" data-year="" data-info="">
		<div class="container">
			<img src="/images/campoderelampagos/11.png">
			<img src="/images/campoderelampagos/10.png">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/campoderelampagos/7.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/campoderelampagos/8.png">
					</div>
				</div>
			</div>
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/campoderelampagos/13.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/campoderelampagos/14.png">
					</div>
				</div>
			</div>
			<img src="/images/campoderelampagos/12.png">
		</div>
	</div>
	<div class="banner">
		<h1>I'll take care of everything for your new site, including the <em>design</em>, <em>programming</em>  ≪html, css-sass≫ and <em>hosting</em> options.</h1>
	</div>
	<div class="website" data-url="http://emanueltovar.com/" data-name="emanueltovar.com" data-year="" data-info="">
		<div class="container">
			<img src="/images/emanueltovar/2.png">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/emanueltovar/3.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/emanueltovar/4.png">
					</div>
				</div>
			</div>
			<img src="/images/emanueltovar/1.png">
		</div>
	</div>
	<div class="website" data-url="http://hugolugo.link/" data-name="hugolugo.link" data-year="" data-info="">
		<div class="container">
			<img src="/images/hugolugo/5.png" />
			<img src="/images/hugolugo/4.png" />
			<img src="/images/hugolugo/2.png" />
			<img src="/images/hugolugo/3.png" />
		</div>
	</div>
	<div class="website" data-url="http://www.carlosivanhernandez.mx/" data-name="carlosivanhernandez.mx" data-year="" data-info="">
		<div class="container">
			<img src="/images/carlosivanhernandez/1.png" />
			<img src="/images/carlosivanhernandez/2.png" />
			<img src="/images/carlosivanhernandez/3.png" />
		</div>
	</div>
	<div class="website" data-url="http://mariajosesesma.com/" data-name="mariajosesesma.com" data-year="" data-info="">
		<div class="container">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/mariajosesesma/1.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/mariajosesesma/4.png">
					</div>
				</div>
			</div>
			<img src="/images/mariajosesesma/2.png">
		</div>
	</div>
	<div class="website" data-url="http://juancarloscoppel.com/" data-name="juancarloscoppel.com" data-year="" data-info="">
		<div class="container">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/juancarloscoppel/2.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/juancarloscoppel/3.png">
					</div>
				</div>
			</div>
			<img src="/images/juancarloscoppel/1.png">
		</div>
	</div>
	<div class="website" data-url="http://miriamsalado.com/" data-name="miriamsalado.com" data-year="" data-info="">
		<div class="container">
			<img src="/images/miriamsalado/2.png">
			<img src="/images/miriamsalado/6.png">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/miriamsalado/7.png">

					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/miriamsalado/8.png">
					</div>
				</div>
			</div>
			<img src="/images/miriamsalado/1.png">
		</div>
	</div>
	<div class="website" data-url="http://ethelcooke.com/" data-name="ethelcooke.com" data-year="" data-info="">
		<div class="container">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/ethelcooke/2.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/ethelcooke/4.png">
					</div>
				</div>
			</div>
			<img src="/images/ethelcooke/1.png">
		</div>
	</div>
	<div class="website" data-url="http://alejandraaviles.com/" data-name="alejandraaviles.com" data-year="" data-info="">
		<div class="container">
			<img src="/images/alejandraaviles/5.png">
			<div class="double-img" class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/alejandraaviles/4.png" >
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/alejandraaviles/3.png">
					</div>
				</div>
			</div>
			<img src="/images/alejandraaviles/6.png">
		</div>
	</div>
	<div class="footer">
		<div class="title">
			<a href="" target="external">
			  <h1></h1>
			</a>
		</div>
		<div class="info">
	      <h6></h6>
		</div>
	</div>
</div>

<!-- <div class="banner container">
	<h1><span class="hi">Hi</span>, my name is Alejandra, I'm a Visual Artist from Mexico based in Barcelona. I've been building custom websites since 2014.</h1>
	<h1>I'll take care of everything for your new site, including the<br><em>design</em>, <em>programming</em>  ≪html, css-sass≫ and <em>hosting</em> options.</h1>
</div>

<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
			<img src="/images/cynthiagutierrez/1.png">
			<img src="/images/cynthiagutierrez/6.png">
			<img src="/images/cynthiagutierrez/3.png">
			<img src="/images/cynthiagutierrez/4.png">
			<div class="caption"><h1><em><b>cynthiagutierrez.com</b></em></h1></div>
		</div>
	</div>
</div>

<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-2" class="slider">
			<img src="/images/campoderelampagos/11.png">
			<img src="/images/campoderelampagos/10.png">
			<img src="/images/campoderelampagos/7.png">
			<img src="/images/campoderelampagos/8.png">
			<img src="/images/campoderelampagos/13.png">
			<img src="/images/campoderelampagos/12.png">
			<img src="/images/campoderelampagos/14.png">
			<div class="caption"><h1><em><b>campoderelampagos.org</b></em></h1></div>
		</div>
	</div>
</div>

<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>
<div class="slider-wrapper">
	<div class="container">
		<div id="main-slider-1" class="slider">
		</div>
	</div>
</div>

		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
				</div>
			</div>
		</div>
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
				</div>
			</div>
		</div>
<div id="projects">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
	</div>

	<div class="container">
		<img src="/images/emanueltovar/2.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/emanueltovar/3.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/emanueltovar/4.png">
				</div>
			</div>
		</div>
		<img src="/images/emanueltovar/1.png">
	</div>

	<div class="container">
		<img src="/images/hugolugo/5.png" />
		<img src="/images/hugolugo/4.png" />
		<img src="/images/hugolugo/2.png" />
		<img src="/images/hugolugo/3.png" />
	</div>

	<div class="container">
		<img src="/images/carlosivanhernandez/1.png" />
		<img src="/images/carlosivanhernandez/2.png" />
		<img src="/images/carlosivanhernandez/3.png" />
	</div>

	<div class="container">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/mariajosesesma/1.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/mariajosesesma/4.png">
				</div>
			</div>
		</div>
		<img src="/images/mariajosesesma/2.png">
	</div>

	<div class="container">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/juancarloscoppel/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/juancarloscoppel/3.png">
				</div>
			</div>
		</div>
		<img src="/images/juancarloscoppel/1.png">
	</div>

	<div class="container">
		<img src="/images/miriamsalado/2.png">
		<img src="/images/miriamsalado/6.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/miriamsalado/7.png">

				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/miriamsalado/8.png">
				</div>
			</div>
		</div>
		<img src="/images/miriamsalado/1.png">
	</div>

	<div class="container">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/ethelcooke/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/ethelcooke/4.png">
				</div>
			</div>
		</div>
		<img src="/images/ethelcooke/1.png">
	</div>

	<div class="container">
		<img src="/images/alejandraaviles/5.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/alejandraaviles/4.png" >
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/alejandraaviles/3.png">
				</div>
			</div>
		</div>
		<img src="/images/alejandraaviles/6.png">
	</div>

</div> -->