h1 {
	font-size: 1.2em;
	font-weight: 800;
	display: inline-block;
}

h2 {
	font-size: 5.3em;
	font-weight: 800;
	word-wrap: break-word;
}

h3 {
	font-size: 3.5em;
	font-weight: 800;
}

h4 {
}

h5 {
}

h6 {
	font-size: 1em;
	font-weight: 800;
	line-height: 20px;
}

p {
	font-size: 1.3em;
	font-weight: 800;
}
