* {
	box-sizing: border-box;
}

html {
	background-color: #F6F6F6;
}

body {
	font-size: 16px;

	font-family: arial;

	::selection { background-color: #ffeb59; color:red; }
	img {
		width: 100%;
		margin-bottom: 160px;
		max-width: 924px;
	}
}

#main { 
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.container {
	@include group;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
	color: blue;
}

img {
	border-radius: 4px;
	border: 1px solid #e8e8e8;
	box-shadow: 3px 13px 74px -10px rgba(0,0,0,0.2);
}

body.index {
	#portafolio {
		background-color: #F6F6F6;
		color: black;
	}
}

body.pricing {
	#pricing {
		background-color: #F6F6F6;
		color: black;
	}
}

body.contact {
	#contact {
		background-color: #F6F6F6;
		color: black;
	}
}