* {
	box-sizing: border-box;
}

html {
	background-color: white;
}

body {
	font-size: 16px;
	font-family: 'Vollkorn', serif;
	::selection { background-color: #ffeb59; color:red; }
}

#main { 
	width: 100%;
	padding-bottom: 200px;
	padding-top: 100px;
}
.container {
	@include group;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	position: relative;
}

img {

	// border-radius: 4px;
	// border: 1px solid #e8e8e8;
	// box-shadow: 3px 13px 74px -10px rgba(0,0,0,0.3);
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-shadow: white;
}


body.index {
	#index {
		text-shadow: 1px 1px #ffeb59;
	}
}
body.portfolio-page {
	#portfolio-page {
		text-shadow: 1px 1px #ffeb59;
	}
}
body.cv {
	#cv {
		text-shadow: 1px 1px #ffeb59;
	}
}

body.pricing {
	#pricing {
		text-shadow: 1px 1px #ffeb59;
	}
}
body.contact {
	#contact {
		text-shadow: 1px 1px #ffeb59;
	}
}