* {
	box-sizing: border-box;
}

html {
	background-color: white;
}

body {
	font-size: 16px;
	font-family: 'Vollkorn', serif;
	::selection { background-color: #ffeb59; color:red; }
}

#main { 
	width: 100%;
	padding-bottom: 200px;
	padding-top: 100px;
}
.container {
	@include group;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
	position: relative;
}

img {
	border-radius: 5px;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-shadow: white;
}


body.index {
	#index {
		text-shadow: 1px 1px #ffeb59;
	}
}
body.projects-page {
	#projects-page {
		text-shadow: 1px 1px #ffeb59;
	}
}
body.experience {
	#experience {
		text-shadow: 1px 1px #ffeb59;
	}
}

body.pricing {
	#pricing {
		text-shadow: 1px 1px #ffeb59;
	}
}
body.contact {
	#contact {
		text-shadow: 1px 1px #ffeb59;
	}
}