	
<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<img src="/images/campoderelampagos/1.jpg">
		<img src="/images/campoderelampagos/2.jpg">
		<img src="/images/campoderelampagos/3.jpg">
		<img src="/images/campoderelampagos/4.jpg">
		<img src="/images/campoderelampagos/5.jpg">
		<img src="/images/campoderelampagos/6.jpg">
	</div>
</div>

<div class="slider-wrapper">
	<div id="main-slider-2" class="slider">
		<img src="/images/campoderelampagos/1.jpg">
		<img src="/images/campoderelampagos/2.jpg">
		<img src="/images/campoderelampagos/3.jpg">
		<img src="/images/campoderelampagos/4.jpg">
		<img src="/images/campoderelampagos/5.jpg">
		<img src="/images/campoderelampagos/6.jpg">
	</div>
</div>
<!-- 


	<div class="container" class="banner">
		<h1>I'll personally take care of everything for your new site, including the <em>design</em>, <em>programming</em>  ≪html, css-sass≫ and <em>hosting</em> options.</h1>
	</div>
	<div class="container">
		<img src="/images/cynthiagutierrez/1.png">
		<a href="http://cynthiagutierrez.com/">cynthiagutierrez.com</a>
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/cynthiagutierrez/3.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/cynthiagutierrez/4.png">
				</div>
			</div>
		</div>
		<img src="/images/cynthiagutierrez/6.png">
	</div>

	<div class="container">
		<a href="http://emanueltovar.com/">emanueltovar.com</a>
		<img src="/images/emanueltovar/2.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/emanueltovar/3.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/emanueltovar/4.png">
				</div>
			</div>
		</div>
		<img src="/images/emanueltovar/1.png">
	</div>
	<div class="container">
		<a href="http://hugolugo.link/">hugolugo.link</a>
		<img src="/images/hugolugo/5.png" />
		<img src="/images/hugolugo/4.png" />
		<img src="/images/hugolugo/3.png" />
		<img src="/images/hugolugo/2.png" />
	</div>
	<div class="container">
		<a href="http://www.carlosivanhernandez.mx/">www.carlosivanhernandez.mx</a>
		<img src="/images/carlosivanhernandez/1.png" />
		<img src="/images/carlosivanhernandez/2.png" />
		<img src="/images/carlosivanhernandez/3.png" />
	</div>
	<div class="container">
		<a href="http://mariajosesesma.com/">mariajosesesma.com</a>
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/mariajosesesma/1.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/mariajosesesma/4.png">
				</div>
			</div>
		</div>
		<img src="/images/mariajosesesma/2.png">
	</div>
	<div class="container">
		<a href="http://juancarloscoppel.com/">juancarloscoppel.com</a>
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/juancarloscoppel/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/juancarloscoppel/3.png">
				</div>
			</div>
		</div>
		<img src="/images/juancarloscoppel/1.png">
	</div>
	<div class="container">
		<a href="http://miriamsalado.com/">miriamsalado.com</a>
		<img src="/images/miriamsalado/2.png">
		<img src="/images/miriamsalado/6.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/miriamsalado/7.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/miriamsalado/8.png">
				</div>
			</div>
		</div>
		<img src="/images/miriamsalado/1.png">
	</div>
	<div class="container">
		<a href="http://ethelcooke.com/">ethelcooke.com</a>
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/ethelcooke/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/ethelcooke/4.png">
				</div>
			</div>
		</div>
		<img src="/images/ethelcooke/1.png">
	</div>
	<div class="container">
		<a href="http://alejandraaviles.com/">alejandraaviles.com</a>
		<img src="/images/alejandraaviles/5.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/alejandraaviles/4.png" >
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/alejandraaviles/3.png">
				</div>
			</div>
		</div>
		<img src="/images/alejandraaviles/6.png">
	</div>
</div> -->