<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<img src="/images/campoderelampagos/1.jpg">
		<img src="/images/campoderelampagos/2.jpg">
		<img src="/images/campoderelampagos/3.jpg">
		<img src="/images/campoderelampagos/4.jpg">
		<img src="/images/campoderelampagos/5.jpg">
		<img src="/images/campoderelampagos/6.jpg">
		<img src="/images/campoderelampagos/7.jpg">
		<img src="/images/campoderelampagos/8.jpg">
		<img src="/images/campoderelampagos/9.jpg">
		<img src="/images/campoderelampagos/10.jpg">
	</div>
</div>
<div class="project-info">
	<a href="http://campoderelampagos.org/">campoderelampagos.org</a>
	<h6>Online magazine for critique of art.</h6>
	<h6>Web identity. Web development.</h6>
	<h6>Published 2016</h6>
</div>

<div class="slider-wrapper">
	<div id="main-slider-2" class="slider">
		<img src="/images/cynthiagutierrez/1.jpg">
		<img src="/images/cynthiagutierrez/2.jpg">
		<img src="/images/cynthiagutierrez/3.jpg">
		<img src="/images/cynthiagutierrez/4.jpg">
		<img src="/images/cynthiagutierrez/5.jpg">
		<img src="/images/cynthiagutierrez/6.jpg">
		<img src="/images/cynthiagutierrez/7.jpg">

	</div>
</div>
<div class="project-info">
	<a href="http://cynthiagutierrez.com/">cynthiagutierrez.com</a>
</div>

<div class="slider-wrapper">
	<div id="main-slider-3" class="slider">
		<img src="/images/emanueltovar/0.jpg">
		<img src="/images/emanueltovar/1.jpg">
		<img src="/images/emanueltovar/2.jpg">
		<img src="/images/emanueltovar/3.jpg">
		<img src="/images/emanueltovar/4.jpg">
		<img src="/images/emanueltovar/5.jpg">
		<img src="/images/emanueltovar/6.jpg">
		<img src="/images/emanueltovar/7.jpg">
		<img src="/images/emanueltovar/8.jpg">
	</div>
</div>
<div class="project-info">
	<a href="http://emanueltovar.com/">emanueltovar.com</a>
</div>

<div class="slider-wrapper">
	<div id="main-slider-4" class="slider">
		<img src="/images/hugolugo/1.jpg" />
		<img src="/images/hugolugo/2.jpg" />
		<img src="/images/hugolugo/3.jpg" />
		<img src="/images/hugolugo/4.jpg" />
		<img src="/images/hugolugo/5.jpg" />
		<img src="/images/hugolugo/6.jpg" />
		<img src="/images/hugolugo/7.jpg" />
	</div>
</div>
<div class="project-info">
	<a href="http://hugolugo.link/">hugolugo.link</a>
</div>

<div class="slider-wrapper">
	<div id="main-slider-5" class="slider">
		<img src="/images/carlosivanhernandez/8.jpg" />
		<img src="/images/carlosivanhernandez/1.jpg" />
		<img src="/images/carlosivanhernandez/2.jpg" />
		<img src="/images/carlosivanhernandez/3.jpg" />
		<img src="/images/carlosivanhernandez/4.jpg" />
		<img src="/images/carlosivanhernandez/5.jpg" />
		<img src="/images/carlosivanhernandez/6.jpg" />
		<img src="/images/carlosivanhernandez/7.jpg" />
	</div>
</div>
<div class="project-info">
	<a href="http://www.carlosivanhernandez.mx/">carlosivanhernandez.mx</a>
</div>

<div class="slider-wrapper">
	<div id="main-slider-6" class="slider">
		<img src="/images/mariajosesesma/1.jpg">
		<img src="/images/mariajosesesma/2.jpg">
		<img src="/images/mariajosesesma/3.jpg">
		<img src="/images/mariajosesesma/4.jpg">
		<img src="/images/mariajosesesma/5.jpg">
		<img src="/images/mariajosesesma/6.jpg">
		<img src="/images/mariajosesesma/7.jpg">
		<img src="/images/mariajosesesma/8.jpg">
	</div>
</div>
<div class="project-info">
	<a href="http://mariajosesesma.com/">mariajosesesma.com</a>
</div>

<div class="slider-wrapper">
	<div id="main-slider-7" class="slider">
		<img src="/images/juancarloscoppel/1.jpg">
		<img src="/images/juancarloscoppel/2.jpg">
		<img src="/images/juancarloscoppel/3.jpg">
		<img src="/images/juancarloscoppel/4.jpg">
		<img src="/images/juancarloscoppel/5.jpg">
		<img src="/images/juancarloscoppel/6.jpg">
		<img src="/images/juancarloscoppel/7.jpg">
		<img src="/images/juancarloscoppel/8.jpg">
	</div>
</div>
<div class="project-info">
	<a href="http://juancarloscoppel.com/">juancarloscoppel.com</a>
</div>

<div class="slider-wrapper">
	<div id="main-slider-8" class="slider">
		<img src="/images/ethelcooke/1.jpg">
		<img src="/images/ethelcooke/2.jpg">
		<img src="/images/ethelcooke/3.jpg">
		<img src="/images/ethelcooke/4.jpg">
		<img src="/images/ethelcooke/5.jpg">
		<img src="/images/ethelcooke/6.jpg">
		<img src="/images/ethelcooke/7.jpg">
	</div>
</div>
<div class="project-info">
	<a href="http://ethelcooke.com/">ethelcooke.com</a>
</div>

<div class="slider-wrapper">
	<div id="main-slider-9" class="slider">
		<img src="/images/miriamsalado/1.jpg">
		<img src="/images/miriamsalado/2.jpg">
		<img src="/images/miriamsalado/3.jpg">
		<img src="/images/miriamsalado/4.jpg">
		<img src="/images/miriamsalado/5.jpg">
	</div>
</div>
<div class="project-info">
	<a href="http://miriamsalado.com/">miriamsalado.com</a>
</div>

<!-- <div class="slider-wrapper">
	<div id="main-slider-10" class="slider">
		<img src="/images/alejandraaviles/1.jpg" >
	</div>
</div>
<div class="project-info">
	<a href="http://alejandraaviles.com/">alejandraaviles.com</a>
</div> -->