<div class="website" data-url="" data-name="" data-year="" data-info="">
	<div class="banner">
		<h1><span class="hi">Hi</span>, my name is Alejandra,<br>I'm a mexican <a href="http://alejandraaviles.com/" target="external">Visual Artist</a><br>and Content Designer<br>based in Barcelona.</h1>
		<h2>I build static sites (<em>middleman, html, css/sass</em>) and custom themes for the Squarespace Developer Platform. </h2><h2>At the moment I'm learning to build custom themes using Wordpress.</h2>

		<h2>I like personal treat, simple and easy to use design.<br>Have a look at my work!</h2>
		<div class="down-arrow">
			<a href="#projects" class="scroll-to continue fast-forward">⬇</a>
		</div>
	</div>
</div>
<div id="projects">
	<header><h1><span>W</span>ebsites</h1></header>
	<div class="website" data-url="http://cynthiagutierrez.com/" data-name="cynthiagutierrez.com" data-year="" data-info="Web Design & Development 2016">
		<img src="/images/cynthiagutierrez/1.png">
		<img src="/images/cynthiagutierrez/6.png">
		<div class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/cynthiagutierrez/3.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/cynthiagutierrez/4.png">
				</div>
			</div>
		</div>
	</div>
	<div class="website" data-url="http://emanueltovar.com/" data-name="emanueltovar.com" data-year="" data-info="Web Design & Development 2016">
		<img src="/images/emanueltovar/2.png">
		<img src="/images/emanueltovar/1.png">
		<div class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/emanueltovar/3.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/emanueltovar/4.png">
				</div>
			</div>
		</div>
	</div>
	<div class="website" data-url="http://campoderelampagos.org/" data-name="campoderelampagos.org" data-year="" data-info="Web Design & Development / Graphic Identity by Aitor Méndez, 2016" >
		<img src="/images/campoderelampagos/2.png">
		<img src="/images/campoderelampagos/3.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/campoderelampagos/5.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/campoderelampagos/6.png">
				</div>
			</div>
		</div>
		<img src="/images/campoderelampagos/1.png">
		<div class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/campoderelampagos/7.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/campoderelampagos/8.png">
				</div>
			</div>
		</div>
	</div>
	<div class="website" data-url="http://hugolugo.link/" data-name="hugolugo.link" data-year="" data-info="Web Design & Development 2015">
		<img src="/images/hugolugo/1.png" />
		<img src="/images/hugolugo/4.png" />
		<img src="/images/hugolugo/2.png" />
		<img src="/images/hugolugo/3.png" />
	</div>
	<div class="website" data-url="http://www.carlosivanhernandez.mx/" data-name="carlosivanhernandez.mx" data-year="" data-info="Web Design & Development 2014">
		<img src="/images/carlosivanhernandez/1.png" />
		<img src="/images/carlosivanhernandez/2.png" />
		<img src="/images/carlosivanhernandez/3.png" />
	</div>
	<div class="website" data-url="http://mariajosesesma.com/" data-name="mariajosesesma.com" data-year="" data-info="Web Design & Development 2014">
		<img src="/images/mariajosesesma/1.png">
			<div class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/mariajosesesma/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/mariajosesesma/4.png">
				</div>
			</div>
		</div>
	</div>
	<div class="website" data-url="http://juancarloscoppel.com/" data-name="juancarloscoppel.com" data-year="" data-info="Web Design & Development 2014">
			<img src="/images/juancarloscoppel/1.png">
				<div class="columns">
				<div class="col col-6">
					<div class="padding-right">
						<img src="/images/juancarloscoppel/2.png">
					</div>
				</div>
				<div class="col col-6">
					<div class="padding-left">
						<img src="/images/juancarloscoppel/4.png">
					</div>
				</div>
			</div>
	</div>
	<div class="website" data-url="http://miriamsalado.com/" data-name="miriamsalado.com" data-year="" data-info="Web Design & Development 2014">
		<img src="/images/miriamsalado/2.png">
		<div class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/miriamsalado/1.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/miriamsalado/3.png">
				</div>
			</div>
		</div>
	</div>
	<div class="website" data-url="http://ethelcooke.com/" data-name="ethelcooke.com" data-year="" data-info="Web Design & Development 2015">
		<img src="/images/ethelcooke/1.png">
		<div class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/ethelcooke/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/ethelcooke/4.png">
				</div>
			</div>
		</div>
	</div>
	<div class="website" data-url="http://alejandraaviles.com/" data-name="alejandraaviles.com" data-year="" data-info="Web Design & Development 2012">
		<img src="/images/alejandraaviles/2.png">
		<div class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/alejandraaviles/4.png" >
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/alejandraaviles/3.png">
				</div>
			</div>
		</div>
		<img src="/images/alejandraaviles/1.png">
	</div>
	<div id="infographics">
		<header><h1><span>I</span>nfographics</h1></header>
		<div class="website" data-name="Inovación Social" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
			<img src="/images/ethos/inovacion-social.jpg" >
		</div>
		<div class="website" data-name="Think Thanks" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
			<img src="/images/ethos/think-thanks.jpg" >
		</div>
		<div class="website" data-name="Paz en México" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
			<img src="/images/ethos/paz-en-mexico.png" >
		</div>
		<div class="website" data-name="Soft Power México" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
			<img src="/images/ethos/softpower.jpg" >
		</div>
		<div class="website" data-name="Bienestar Subjetivo" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
			<img src="/images/ethos/bienestar-subjetivo.jpg" >
		</div>
	</div>
	<div class="footer">
		<div class="title">
			<a href="" target="external">
			  <h1></h1>
			</a>
		</div>
		<div class="info">
	      <h6></h6>
		</div>
	</div>
</div>
  <div class="logo">
    <a href="/"><h1>Ale<em>camp</em></h1></a>
</div>
