<div class="contact">
	<h2>I'm a visual artist based in Barcelona. I've been building websites since 2014. All my sites include Web Design, Programing and Free Hosting. Clear and clean design.</h2>
	<h2><a href="/">alehandra.aviles@gmail.com</a></h2>
</div>

