<div class="container">
	<div class="banner-contact">
		<h2>Based in Barcelona,<br>working internationally.</h2>
	</div>
	<div class="contact">
		<h4>For pricing list contact me:</h4>
		<h3><a href="mailto:alehandra.aviles@gmail.com">alejandra@alecamp.com</a></h3>
		<h3><span class="skype">skype:</span>alejandraavilesd</h3>
	</div>
	<div class="faq">
	</div>
</div>