<div class="hero-unit">
	<div class="logo">
	  <h1>Alecamp.</h1>
	</div>
	<div class="services">
		<h2>Frontend Design &</h2>
		<h2>Web Development</h2>
	</div>
</div>
<%= partial "portfolio" %>
<!-- <div class="nav">
	<div class="container">
      <span class="logo-nav"><a href="/">Alecamp.</a></span>
      <a href="/">Portfolio</a>
      <a href="/cv">Experience</a>
      <a href="/cv">Pricing</a>
	</div>
</div> -->