<div class="website" data-name="http://campoderelampagos.org/" data-year="" data-info="" >
	<img src="/images/campoderelampagos/1.png">
	<div class="double-img" class="columns">
		<div class="col col-6">
			<img src="/images/campoderelampagos/5.png">
		</div>
		<div class="col col-6">
			<img src="/images/campoderelampagos/6.png">
		</div>
	</div>
	<img src="/images/campoderelampagos/2.png">
	<img src="/images/campoderelampagos/3.png">
	<div class="columns">
		<div class="col col-6">
			<img src="/images/campoderelampagos/7.png">
		</div>
		<div class="col col-6">
			<img src="/images/campoderelampagos/8.png">
		</div>
	</div>
</div>
<div class="website" data-name="http://hugolugo.link/" data-year="" data-info="">
	<img src="/images/hugolugo/1.png" />
	<img src="/images/hugolugo/4.png" />
	<img src="/images/hugolugo/2.png" />
	<img src="/images/hugolugo/3.png" />
</div>
<div class="website" data-name="" data-year="" data-info="">
	<img src="/images/emanueltovar/2.png">
	<img src="/images/emanueltovar/1.png">
	<div class="columns">
		<div class="col col-6">
			<img src="/images/emanueltovar/3.png">
		</div>
		<div class="col col-6">
			<img src="/images/emanueltovar/4.png">
		</div>
	</div>
</div>
<div class="website" data-name="http://cynthiagutierrez.com/" data-year="" data-info="">
	<img src="/images/cynthiagutierrez/1.png">
	<img src="/images/cynthiagutierrez/6.png">
	<div class="columns">
		<div class="col col-6">
			<img src="/images/cynthiagutierrez/3.png">
		</div>
		<div class="col col-6">
			<img src="/images/cynthiagutierrez/4.png">
		</div>
	</div>
</div>
<div class="website" data-name="http://www.carlosivanhernandez.mx/" data-year="" data-info="">
	<img src="/images/carlosivanhernandez/1.png" />
	<img src="/images/carlosivanhernandez/2.png" />
	<img src="/images/carlosivanhernandez/3.png" />
</div>
<div class="website" data-name="http://mariajosesesma.com/" data-year="" data-info="">
	<img src="/images/mariajosesesma/1.png">
		<div class="columns">
		<div class="col col-6">
			<img src="/images/mariajosesesma/2.png">
		</div>
		<div class="col col-6">
			<img src="/images/mariajosesesma/4.png">
		</div>
	</div>
</div>
<div class="website" data-name="http://juancarloscoppel.com/" data-year="" data-info="">
		<img src="/images/juancarloscoppel/1.png">
			<div class="columns">
			<div class="col col-6">
				<img src="/images/juancarloscoppel/2.png">
			</div>
			<div class="col col-6">
				<img src="/images/juancarloscoppel/4.png">
			</div>
		</div>
</div>
<div class="website" data-name="http://miriamsalado.com/" data-year="" data-info="">
	<img src="/images/miriamsalado/2.png">
	<div class="columns">
		<div class="col col-6">
		<img src="/images/miriamsalado/1.png">
		</div>
		<div class="col col-6">
		<img src="/images/miriamsalado/3.png">
		</div>
	</div>
</div>
<div class="website" data-name="http://ethelcooke.com/" data-year="" data-info="">
	<img src="/images/ethelcooke/1.png">
	<div class="columns">
		<div class="col col-6">
			<img src="/images/ethelcooke/2.png">
		</div>
		<div class="col col-6">
			<img src="/images/ethelcooke/4.png">
		</div>
	</div>
</div>
<div class="website" data-name="http://alejandraaviles.com/" data-year="" data-info="">
	<img src="/images/alejandraaviles/2.png">
	<div class="columns">
		<div class="col col-6">
			<img src="/images/alejandraaviles/4.png" >
		</div>
		<div class="col col-6">
			<img src="/images/alejandraaviles/3.png">
		</div>
	</div>
	<img src="/images/alejandraaviles/1.png">
</div>
	<div class="footer">
		<div class="title">
			<a href="http://campoderelampagos.org/">
			  <h1>http://campoderelampagos.org/</h1>
			</a>
		</div>
		<div class="info">
	      <h6>Web design and programing. Online magazine focus on critique and analisis of visual production in Spain and Latinamerica.</h6>
		</div>
	</div>
</div>