<div class="website" data-url="" data-name="" data-year="" data-info="">
	<div class="banner">
		<h1><span class="hi">Hi</span>, my name is Alejandra,<br>I'm a Visual Artist from Mexico<br>based in Barcelona.</h1>
		<h1>I've been building custom websites<br>since 2014.</h1>

		<h2>I'll take care of everything for your new site, including the<br><em>design</em>, <em>programming</em> ⟪html, css-sass⟫  and <em>hosting</em> options.</h2>
		<div class="call-to-action">
			<a href="#projects" class="scroll-to continue fast-forward">
				Take a look at my work!	
			</a>
		</div>
<!-- 		<div class="down-arrow">
			<a href="#projects" class="scroll-to continue fast-forward">
			<h3>➔</h3>
			</a>
		</div> -->
	</div>
</div>
<div id="projects">
<header><h1><span>W</span>ebsites</h1></header>
	<div class="website" data-url="http://cynthiagutierrez.com/" data-name="http://cynthiagutierrez.com/" data-year="" data-info="">
		<img src="/images/cynthiagutierrez/1.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/cynthiagutierrez/3.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/cynthiagutierrez/4.png">
				</div>
			</div>
		</div>
		<img src="/images/cynthiagutierrez/6.png">
	</div>
	<div class="website" data-url="http://campoderelampagos.org/" data-name="http://campoderelampagos.org/" data-year="" data-info="" >
		<img src="/images/campoderelampagos/11.png">
		<img src="/images/campoderelampagos/10.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/campoderelampagos/7.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/campoderelampagos/8.png">
				</div>
			</div>
		</div>
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/campoderelampagos/13.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/campoderelampagos/14.png">
				</div>
			</div>
		</div>
		<img src="/images/campoderelampagos/12.png">
	</div>
	<div class="website" data-url="http://emanueltovar.com/" data-name="http://emanueltovar.com/" data-year="" data-info="">
		<img src="/images/emanueltovar/2.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/emanueltovar/3.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/emanueltovar/4.png">
				</div>
			</div>
		</div>
		<img src="/images/emanueltovar/1.png">
	</div>
	<div class="website" data-url="http://hugolugo.link/" data-name="http://hugolugo.link/" data-year="" data-info="">
		<img src="/images/hugolugo/5.png" />
		<img src="/images/hugolugo/4.png" />
		<img src="/images/hugolugo/2.png" />
		<img src="/images/hugolugo/3.png" />
	</div>
	<div class="website" data-url="http://www.carlosivanhernandez.mx/" data-name="http://carlosivanhernandez.mx/" data-year="" data-info="">
		<img src="/images/carlosivanhernandez/1.png" />
		<img src="/images/carlosivanhernandez/2.png" />
		<img src="/images/carlosivanhernandez/3.png" />
	</div>
	<div class="website" data-url="http://mariajosesesma.com/" data-name="http://mariajosesesma.com/" data-year="" data-info="">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/mariajosesesma/1.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/mariajosesesma/4.png">
				</div>
			</div>
		</div>
		<img src="/images/mariajosesesma/2.png">
	</div>
	<div class="website" data-url="http://juancarloscoppel.com/" data-name="http://juancarloscoppel.com/" data-year="" data-info="">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/juancarloscoppel/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/juancarloscoppel/3.png">
				</div>
			</div>
		</div>
		<img src="/images/juancarloscoppel/1.png">
	</div>
	<div class="website" data-url="http://miriamsalado.com/" data-name="http://miriamsalado.com/" data-year="" data-info="">
		<img src="/images/miriamsalado/2.png">
		<img src="/images/miriamsalado/6.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/miriamsalado/7.png">

				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/miriamsalado/8.png">
				</div>
			</div>
		</div>
					<img src="/images/miriamsalado/1.png">
	</div>
	<div class="website" data-url="http://ethelcooke.com/" data-name="http://ethelcooke.com/" data-year="" data-info="">
		<img src="/images/ethelcooke/1.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/ethelcooke/2.png">
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/ethelcooke/4.png">
				</div>
			</div>
		</div>
	</div>
	<div class="website" data-url="http://alejandraaviles.com/" data-name="http://alejandraaviles.com/" data-year="" data-info="">
		<img src="/images/alejandraaviles/5.png">
		<img src="/images/alejandraaviles/6.png">
		<div class="double-img" class="columns">
			<div class="col col-6">
				<div class="padding-right">
					<img src="/images/alejandraaviles/4.png" >
				</div>
			</div>
			<div class="col col-6">
				<div class="padding-left">
					<img src="/images/alejandraaviles/3.png">
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="title">
			<a href="" target="external">
			  <h1></h1>
			</a>
		</div>
		<div class="info">
	      <h6></h6>
		</div>
	</div>
</div>


<!-- <div id="infographics">
	<header><h1><span>I</span>nfographics</h1></header>
	<div class="website" data-url="http://ethos.org.mx/es/media-lab/infografias/" data-name="http://Inovación Social ⇱" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
		<img src="/images/ethos/inovacion-social.jpg" >
	</div>
	<div class="website" data-url="http://ethos.org.mx/es/media-lab/infografias/" data-name="http://Think Thanks ⇱" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
		<img src="/images/ethos/think-thanks.jpg" >
	</div>
	<div class="website" data-url="http://ethos.org.mx/es/media-lab/infografias/" data-name="http://Paz en México ⇱" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
		<img src="/images/ethos/paz-en-mexico.png" >
	</div>
	<div class="website" data-url="http://ethos.org.mx/es/media-lab/infografias/" data-name="http://Soft Power México ⇱" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
		<img src="/images/ethos/softpower.jpg" >
	</div>
	<div class="website" data-url="http://ethos.org.mx/es/media-lab/infografias/" data-name="http://Bienestar Subjetivo ⇱" data-year="" data-info="Ethos Laboratorio de Políticas Públicas, CDMX">
		<img src="/images/ethos/bienestar-subjetivo.jpg" >
	</div>
</div> -->
