<div class="banner">
	<h2><span class="hi">I'll</span> personally take care of everything for your new site, including the <em>design</em>, <em>programming</em> and <em>hosting</em> options.</h2>
</div>
<%= partial "projects" %>