.banner {
	font-family: 'Vollkorn', serif;
	padding-bottom: 180px;
	padding-top: 80px;
	.hi {
		color: #fd3232;
		font-size: 2em;
		line-height: 25px;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.4em;
	}
	em {
		text-shadow: 2px 1px #ffeb59;
	}
}
	
	// height: 100vh;

	// .call-to-action{
	// 	a {
	// 		font-family: arial;
	// 		font-size: 1.2em;
	// 		color: blue;
	// 		border: 2px solid blue;
	// 		padding: 12px 18px;
	// 		font-weight: 600;
	// 		box-shadow: 3px 13px 30px -10px rgba(0,0,0,0.5);
	// 		float: right;
	// 		position: absolute;
	// 		z-index: 900;
	// 		bottom: 60px;
	// 	}
	// 	a:hover {
	// 		color: blue;
	// 		border: 1px solid blue;
	// 		text-shadow: 1px 1px blue;
	// 		box-shadow: 1px 1px blue;
	// 		background-color: #f6f6f6;
	// 		box-shadow: 3px 13px 30px -10px rgba(0,0,0,0.5);
	// 	}
	// }
	// .down-arrow {
	// 	transform: rotate(90deg);
	// 	float: right;
	// 	position: absolute;
	// 	z-index: 900;
	// 	bottom: 30px;
	// 	h6 {
	// 		display: inline-block;
	// 		font-size: 1.2em;
	// 	}
	// 	h3 {
	// 		display: inline-block;
	// 		font-size: 5em;
	// 		color: #0000ae;
	// 	}
	// 	a {
	// 		display: inline-block;
	// 	}
	// 	a:hover {
	// 		color: blue;
	// 		text-shadow: 15px 0px red;
	// 	}
	// }