.footer {
	position: fixed;
	bottom: 0;
	z-index: 1001;
	background-color: #ffeb59;
	padding: 10px;
	margin-left:50px;
	margin-bottom: 15px;
	.title {
		h1 {
			font-size: 1.2em;
			font-weight: 600;
			letter-spacing: 0.1px;
			line-height: 14px;
			font-family: arial;
			// font-family: 'Vollkorn', serif;
		}
		a:hover {
			color: blue;
			text-decoration: underline;
		}	
	}
	.info {
	}
}

