.footer {
	position: fixed;
	width: 100%;
	padding: 5px;

	left: 0;
	bottom: 0;
	background-color: #F6F6F6;
	text-align: center;
		h1 {
			padding-bottom: 5px;
		}
		h6 {
			font-size: 0.9em;
		}
		a {

			display: block;
		}
		a:hover {
			h1 {color: blue; text-decoration: underline;}
			background: #fdfdfd;
		}

	.info {
		padding-top: 3px;
		h6 {
			font-size: 0.9em;

		}
	}
}


.title {
	position: absolute;
	text-shadow: 2px 2px #F6F6F6;
	bottom: 48px;
	right: 35%;
}