.hero-unit {
	.logo {
		h1 {
			text-transform: none;
			font-weight: 100;
			padding-top: 120px;
			font-size: 10em;
		}
	}

	.services {
		position: relative;
		text-align: right;
		padding-bottom: 150px;
		h2 {
			font-size: 3.5em;
			font-family: 'Vollkorn', serif;
		}
	}
}