@media (min-width: 480px) {
  .bar {
    background: white;
  }
}
@media (min-width: 640px) {
  .bar {
    background: white;
  }
}
@media (min-width: 768px) {
  .bar {
    background: white;
  }
}
@media (min-width: 1024px) {
  .bar {
    background: white;
  }
}
@media (min-width: 1366px) {
  .bar {
    background: white;
  }
}
@media (max-width: 1280px) {
  .bar {
    background: white;
  }
}
@media (max-width: 1366px) {
  .bar {
    background: white;
  }
}
@media (max-width: 1680px) {
  .bar {
    background: white;
  }
}