.nav {
	position: fixed;
	width: 100%;
	top: 0;
	height: 40px;
	background-color: #F6F6F6;
	// border-bottom: 2px solid black;
	z-index: 1000;

	.portafolio {
		position: fixed;
		left: 170px;
		top: 7px;
		a {
			font-size: 1.5em;
			display: block;
			padding-bottom: 9px;
		}
		a:hover {
			color: blue;
		}
	}
	// .graphic {
	// 	position: fixed;
	// 	left: 256px;
	// 	top: 9px;
	// 	a {
	// 		font-size: 1.3em;
	// 		display: block;
	// 		padding-bottom: 9px;
	// 	}
	// 	a:hover {
	// 		color: blue;
	// 	}
	// }
	// .contact {
	// 	position: fixed;
	// 	left: 380px;
	// 	top: 9px;
	// 	a {
	// 		font-size: 1.3em;
	// 		display: block;
	// 		padding-bottom: 9px;
	// 	}
	// 	a:hover {
	// 		color: blue;
	// 	}
	// }
	// .dash {
	// 	position: absolute;
	// 	left: 188px;
	// 	top: 8px;
	// 	h2 {
	// 		font-size: 1.8em;
	// 	}
	// }
}
