.nav {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	z-index: 1000;
	// border-top: 4px solid red; 
	a {
		display: inline-block;
		font-size: 1.2em;
		letter-spacing: 0.2px;
		font-family: 'Vollkorn', serif;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 25px;
		padding-right: 25px;
		border-bottom: none;
		text-decoration: none;
		color: black;
	}
	a:hover {
		text-shadow: 2px 3px #ffeb59;
		// background-color: #ffeb59;
		color: black;
	}
	.logo-nav {
		a {
			text-shadow: none;
			color: black;
			padding-left: 0;
		}
		a:hover {
			background-color: white;
		}
	}
}