.nav {
	position: fixed;
	width: 100%;
	height: 25px;
	a {
		text-align: center;
		width: 25%;
		padding: 3px;
		background-color: #0b0b0b;
		color: white;
		font-size: 1.2em;
		letter-spacing: 2px;
		font-weight: 600px;
	}
	.alecamp {
		position: fixed;
		left: 0;
		top: 0;
		a:hover {
		background-color: black;
		}
	}
	.portafolio {
		position: fixed;
		left: 25%;
		top: 0;
		a:hover {
			background-color: #ff5252;
		}
	}
	.pricing {
		a:hover {
			background-color: red;
		}
		position: fixed;
		left: 50%;
		top: 0;
	}
	.contact {
		a:hover {
			background-color: magenta;
		}
		position: fixed;
		right: 0;
		top: 0;

	}
}
