.cover{
    width:200px;
    height:500px;
    background-color:#000000;
    float:right;
    overflow:auto;
}


.rightSection{
    width:100px;
    height:3000px;
    background-color:white;
    
}


.header{
    position:fixed;
}