section {
	@include group;
	padding-bottom: 150px;
	max-width: 1300px;
}

.line {
	position: fixed;
	border: 2px solid black;
	top: 106px;
	width: 100%;
}

.website {
	margin-bottom: 150px;
	// border-bottom: 4px solid black;
}